{% extends "layouts/layout-jumbotron.twig" %}
{% set page_group = "dashboard" %}
{# This is the base layout template for "dashboard" style pages (basically, all authenticated pages). #}

{# Default page properties.  You can override these in your child templates. #}
{% set page = page | default({}) | merge({
    "title"       : "New Dashboard Page",
    "description" : "This page has not yet been configured.",
    "author"      : site.author,
    "alerts"      : getAlerts()
}) %}

{% block page %}
               
<!DOCTYPE html>
<html lang="en">
    {% block head %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{page.description}}">
        <meta name="author" content="{{site.author}}">
        <meta name="{{csrf_key}}" content="{{csrf_token}}"> 
        
        <title>{{site.site_title}}</title>
        
        
        <!-- Page stylesheets -->
        {% for item in includeCSS(page_group|default("common")) %}
          <link rel="stylesheet" href="{{item}}" type="text/css" >
        {% endfor %}

        <!-- Theme stylesheet -->
        <link rel="stylesheet" href="{{site.uri.css}}/theme.css?user={{user.id}}" type="text/css" >
{#         <link rel="stylesheet" href="{{site.uri.css}}/common.css" type="text/css" >
 #}        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <!-- Header javascript (not recommended) -->
        {% for item in includeJSTop(page_group|default("common")) %}
          <script src="{{item}}" ></script>
        {% endfor %}    
        
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{site.uri.favicon}}" />
    </head>
    {% endblock %}
    
    <body>
    <!-- wtf -->
        <div id="wrapper">

            {% include 'components/dashboard/nav-account.twig' %}
            <div id="page-wrapper">
                      

<!--                 {% include 'components/common/alerts.twig' %}-->                
                {% block content %}{% endblock %}
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        
          
        {# This block is for dynamic fragments of code that lie outside of the main DOM #}
        {% block fragments %}{% endblock %}
        
        <script src="{{site.uri.js}}/config.js" ></script>
        {% for item in includeJSBottom(page_group|default("common")) %}
          <script src="{{item}}" ></script>
        {% endfor %}
        {# This block allows you to create page-specific Javascript in a child template #}
        {% block page_scripts %}{% endblock %} 
        <div>
   <footer class="buttom-footer main-footer">
        <div class="container-fluid">
          <div class="row">
             <div class="col-xs-12 col-md-4 ">
              <div class="footer-asal">
                &copy; <a  href="https://www.asaltech.com/">Asal Tech</a>, {{ "now"|date("Y") }} 
              </div>
            </div>
                <div class="col-xs-12 col-md-4  text-center">
                    <h3>{{site.site_title}}</h3>
                  <div class="footer-icons">
                    <i class="fa fa-map-marker"></i>
                    <p class="display-inline">{{site.site_location}}</p>
                  </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p class="display-inline"><a href="mailto:support@company.com">{{site.admin_email}}</a></p>
                </div>
             </div>
            <div class="col-xs-12 col-md-4 ">
            </div>

          </div>
        </div>
    </footer>

    <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        <li class="sidebar-search">
            <div class="input-group custom-search-form">
               <!--  <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
                </span> -->
            </div>
       
</div>
<!-- /.sidebar-collapse -->

        </div>
    </body>  
</html>
{% endblock %}